Data Type Conversion

To transform data into different data types, use conversion functions such as to_datetime, to_numeric, or astype

Exercise 5: Exploring Data Types

Import required libraries

In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns

Read the data from the dataset as follows

In [2]:
url = "radData.csv"
df = pd.read_csv(url)
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

Check current data types using dtypes function on the dataframe

In [3]:
df.dtypes

State              object
Location           object
Date Posted        object
Date Collected     object
Sample Type        object
Unit               object
Ba-140            float64
Co-60             float64
Cs-134              int64
Cs-136            float64
Cs-137              int64
I-131               int64
I-132               int64
I-133             float64
Te-129            float64
Te-129m           float64
Te-132              int64
Ba-140.1          float64
dtype: object

Use the to_datetime method to convert the dates from string format to datetime format:

In [4]:
df["Date Posted"] = pd.to_datetime(df["Date Posted"])
df["Date Collected"] = pd.to_datetime(df["Date Collected"])
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object

Remove Object and Datetime Columns:

In [5]:
dfColTypes = df.dtypes
dfColTypes = dfColTypes.apply(lambda x: x if x != "object" else np.nan)
dfColTypes = dfColTypes.apply(lambda x: x if x != "datetime64[ns]" else np.nan)
dfColTypes = dfColTypes.dropna()
columns = list(dfColTypes.index)
columns

['Ba-140',
 'Co-60',
 'Cs-134',
 'Cs-136',
 'Cs-137',
 'I-131',
 'I-132',
 'I-133',
 'Te-129',
 'Te-129m',
 'Te-132',
 'Ba-140.1']

In [8]:
for col in columns:
    df[col] = pd.to_numeric(df[col])
#Check the data types of each column 
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object

Use the astype method to transform the columns that are not numeric to the category type:

In [11]:
df["State"] = df["State"].astype('category')
df["Location"] = df["Location"].astype('category')
df["Sample Type"] = df["Sample Type"].astype('category')
df["Unit"] = df["Unit"].astype("category")
df.dtypes

State                   category
Location                category
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type             category
Unit                    category
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object