Import Numpy and Pandas libraries

In [89]:
import numpy as np
import pandas as pd

Read RadNet dataset from the US Environmental Protection Agency

In [90]:
df = pd.read_csv('radData.csv')
print(df)

    State        Location Date Posted Date Collected     Sample Type    Unit  \
0      ID           Boise  03/30/2011     03/23/2011      Air Filter  pCi/m3
1      ID           Boise  03/30/2011     03/23/2011      Air Filter  pCi/m3
2      AK          Juneau  03/30/2011     03/23/2011      Air Filter  pCi/m3
3      AK            Nome  03/30/2011     03/22/2011      Air Filter  pCi/m3
4      AK            Nome  03/30/2011     03/23/2011      Air Filter  pCi/m3
..    ...             ...         ...            ...             ...     ...
601    CA        Richmond  04/25/2011     04/14/2011  Precipitation    pCi/l
602    CA        Richmond  05/24/2011     04/28/2011  Precipitation    pCi/l
603    UT  Salt Lake City  05/24/2011     04/14/2011  Precipitation    pCi/l
604    UT  Salt Lake City  05/24/2011     04/28/2011  Precipitation    pCi/l
605    NY         Yaphank  05/24/2011     04/28/2011  Precipitation    pCi/l

     Ba-140  Co-60  Cs-134  Cs-136  Cs-137  I-131  I-132  I-133  Te-129  \
0       0.0    0.0       0     NaN       0      0      0    0.0     NaN
1       0.0    0.0       0     NaN       0      0      0    0.0     NaN
2       0.0    0.0       0     NaN       0      0      0    0.0     NaN
3       0.0    0.0       0     NaN       0      0      0    0.0     NaN
4       0.0    0.0       0     NaN       0      0      0    0.0     NaN
..      ...    ...     ...     ...     ...    ...    ...    ...     ...
601     0.0    0.0       9     0.0       8      6      0    0.0     0.0
602     0.0    0.0       7     0.0       6      0      0    0.0     0.0
603     0.0    0.0       0     0.0       0      0      0    0.0     0.0
604     0.0    0.0       0     0.0       0      0      0    0.0     0.0
605     0.0    0.0       0     0.0       0      0      0    0.0     0.0

     Te-129m  Te-132  Ba-140.1
0        NaN       0       NaN
1        NaN       0       NaN
2        NaN       0       NaN
3        NaN       0       NaN
4        NaN       0       NaN
..       ...     ...       ...
601      0.0       0       NaN
602      0.0       0       NaN
603      0.0       0       NaN
604      0.0       0       NaN
605      0.0       0       NaN

[606 rows x 18 columns]

Create a list with numeric columns for radionuclides in the RadNet dataset

In [91]:
columns = df[list(df.columns[6:19])]

Use the apply method on one column, with a lambda function that compares the Non-detect string.

In [92]:
NDColumn = "Ba-140.1"
print(columns["Ba-140.1"].apply(lambda x: "Non-detect" if x == "NaN" else x))

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
601   NaN
602   NaN
603   NaN
604   NaN
605   NaN
Name: Ba-140.1, Length: 606, dtype: float64

Replace the text values with NaN in one column with np.nan

In [93]:
df.loc[:, "Location"] = df.loc[:, "Location"].apply(lambda x: np.nan if x == "Boise" else x)

Use the same lambda comparison and use the applymap method on several columns at the same time, using the list created in the first step:

In [94]:
print(columns.applymap(lambda x: np.nan if x == 0 else x))

     Ba-140  Co-60  Cs-134  Cs-136  Cs-137  I-131  I-132  I-133  Te-129  \
0       NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
1       NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
2       NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
3       NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
4       NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
..      ...    ...     ...     ...     ...    ...    ...    ...     ...
601     NaN    NaN     9.0     NaN     8.0    6.0    NaN    NaN     NaN
602     NaN    NaN     7.0     NaN     6.0    NaN    NaN    NaN     NaN
603     NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
604     NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN
605     NaN    NaN     NaN     NaN     NaN    NaN    NaN    NaN     NaN

     Te-129m  Te-132  Ba-140.1
0        NaN     NaN       NaN
1        NaN     NaN       NaN
2        NaN     NaN       NaN
3        NaN     NaN       NaN
4        NaN     NaN       NaN
..       ...     ...       ...
601      NaN     NaN       NaN
602      NaN     NaN       NaN
603      NaN     NaN       NaN
604      NaN     NaN       NaN
605      NaN     NaN       NaN

[606 rows x 12 columns]

Create a list of the remaining columns that are not numeric:

In [95]:
dfNonNumericColumns = df.dtypes.apply(lambda x: np.nan if x != "object" else x)
dfNonNumericColumns = dfNonNumericColumns.dropna()
dfNonNumericColumns = list(dfNonNumericColumns.index)
# df[dfNonNumericColumns]
dfNonNumeric = df[dfNonNumericColumns]
print(dfNonNumeric)

    State        Location Date Posted Date Collected     Sample Type    Unit
0      ID             NaN  03/30/2011     03/23/2011      Air Filter  pCi/m3
1      ID             NaN  03/30/2011     03/23/2011      Air Filter  pCi/m3
2      AK          Juneau  03/30/2011     03/23/2011      Air Filter  pCi/m3
3      AK            Nome  03/30/2011     03/22/2011      Air Filter  pCi/m3
4      AK            Nome  03/30/2011     03/23/2011      Air Filter  pCi/m3
..    ...             ...         ...            ...             ...     ...
601    CA        Richmond  04/25/2011     04/14/2011  Precipitation    pCi/l
602    CA        Richmond  05/24/2011     04/28/2011  Precipitation    pCi/l
603    UT  Salt Lake City  05/24/2011     04/14/2011  Precipitation    pCi/l
604    UT  Salt Lake City  05/24/2011     04/28/2011  Precipitation    pCi/l
605    NY         Yaphank  05/24/2011     04/28/2011  Precipitation    pCi/l

[606 rows x 6 columns]

Convert Dataframe objects into floats using the to_numeric function:

In [97]:
for col in columns:
    df[col] = pd.to_numeric(df[col])
df.dtypes

State              object
Location           object
Date Posted        object
Date Collected     object
Sample Type        object
Unit               object
Ba-140            float64
Co-60             float64
Cs-134              int64
Cs-136            float64
Cs-137              int64
I-131               int64
I-132               int64
I-133             float64
Te-129            float64
Te-129m           float64
Te-132              int64
Ba-140.1          float64
dtype: object