In [16]:
import numpy as np
import pandas as pd

Read the RadNet dataset from the U.S. Environmental Protection Agency.

In [17]:
filePath = "C:\\Users\\brian\\GIT\\BrianPersonalCodingRepo\\PracticeScripts\\Python_Scripts\\06_Big Data Analysis with Python\\radData.csv" 
df = pd.read_csv(filePath)
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

Create a list with numeric columns for radionuclides in the RadNet dataset.

In [18]:
dfRad = df[list(df)[6:17]]
print(df)

    State        Location Date Posted Date Collected     Sample Type    Unit  \
0      ID           Boise  03/30/2011     03/23/2011      Air Filter  pCi/m3
1      ID           Boise  03/30/2011     03/23/2011      Air Filter  pCi/m3
2      AK          Juneau  03/30/2011     03/23/2011      Air Filter  pCi/m3
3      AK            Nome  03/30/2011     03/22/2011      Air Filter  pCi/m3
4      AK            Nome  03/30/2011     03/23/2011      Air Filter  pCi/m3
..    ...             ...         ...            ...             ...     ...
601    CA        Richmond  04/25/2011     04/14/2011  Precipitation    pCi/l
602    CA        Richmond  05/24/2011     04/28/2011  Precipitation    pCi/l
603    UT  Salt Lake City  05/24/2011     04/14/2011  Precipitation    pCi/l
604    UT  Salt Lake City  05/24/2011     04/28/2011  Precipitation    pCi/l
605    NY         Yaphank  05/24/2011     04/28/2011  Precipitation    pCi/l

     Ba-140  Co-60  Cs-134  Cs-136  Cs-137  I-131  I-132  I-133  Te-129  \
0       0.0    0.0       0     NaN       0      0      0    0.0     NaN
1       0.0    0.0       0     NaN       0      0      0    0.0     NaN
2       0.0    0.0       0     NaN       0      0      0    0.0     NaN
3       0.0    0.0       0     NaN       0      0      0    0.0     NaN
4       0.0    0.0       0     NaN       0      0      0    0.0     NaN
..      ...    ...     ...     ...     ...    ...    ...    ...     ...
601     0.0    0.0       9     0.0       8      6      0    0.0     0.0
602     0.0    0.0       7     0.0       6      0      0    0.0     0.0
603     0.0    0.0       0     0.0       0      0      0    0.0     0.0
604     0.0    0.0       0     0.0       0      0      0    0.0     0.0
605     0.0    0.0       0     0.0       0      0      0    0.0     0.0

     Te-129m  Te-132  Ba-140.1
0        NaN       0       NaN
1        NaN       0       NaN
2        NaN       0       NaN
3        NaN       0       NaN
4        NaN       0       NaN
..       ...     ...       ...
601      0.0       0       NaN
602      0.0       0       NaN
603      0.0       0       NaN
604      0.0       0       NaN
605      0.0       0       NaN

[606 rows x 18 columns]

Use the apply method on one column, with a lambda function that compares the Non-detect string.

In [26]:
df.apply(2)

TypeError: ("'int' object is not callable", 'occurred at index State')