Exporting Data from Pandas

Goal: Export the values of a Dataframe some other source that can be read outside the Python application, such as CSV(most common), Parquet, and JSON.

Exercise 7: Exporting Data in Different Formats

Import all the required libraries and read the data from the dataset using the following command:

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv("radData.csv")
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

Redo all adjustments for the data types (date, numeric, and categorical) in the RadNet data. The type should be the same as in _002_Data_Type_Conversion.

In [4]:
# Convert 'Date Posted' and 'Date Collected' columns to the datetime datatype
df["Date Posted"] = pd.to_datetime(df["Date Posted"])
df["Date Collected"] = pd.to_datetime(df["Date Collected"])

# Convert all numeric columns to the numeric datatype
dfColTypes = df.dtypes
dfColTypes = dfColTypes.apply(lambda x: x if x != "object" else np.nan)
dfColTypes = dfColTypes.apply(lambda x: x if x != "datetime64[ns]" else np.nan)
dfColTypes = dfColTypes.dropna()
columns = list(dfColTypes.index)
for col in columns:
    df[col] = pd.to_numeric(df[col])

# Convert all non-numeric and non-datetime columns to the catergory datatype
df["State"] = df["State"].astype('category')
df["Location"] = df["Location"].astype('category')
df["Sample Type"] = df["Sample Type"].astype('category')
df["Unit"] = df["Unit"].astype("category")

Select the numeric columns and the categorical columns, creating a list for each of them:
NOTE: This was allready done in the previous lines of code using:

dfColTypes = df.dtypes
dfColTypes = dfColTypes.apply(lambda x: x if x != "object" else np.nan)
dfColTypes = dfColTypes.apply(lambda x: x if x != "datetime64[ns]" else np.nan)

dfColTypes = dfColTypes.dropna()

columns = list(dfColTypes.index)

In [22]:
# Create a dataframe of non-numerical columns using the previously created numerical columns list
nonNumericalColumns = df[list(set(df.columns) - set(columns))].dtypes
# Create a list of categorical columns
categoricalColumns = nonNumericalColumns.apply(lambda x: x if x != "datetime64[ns]" else np.nan)
categoricalColumns = categoricalColumns.dropna()
categoricalColumns = list(categoricalColumns.index)
# Create a list of datetime columns
datetimeColumns = nonNumericalColumns.apply(lambda x: x if x == "datetime64[ns]" else np.nan)
datetimeColumns = datetimeColumns.dropna()
datetimeColumns = list(datetimeColumns.index)
# Rename the columns list to "numericalColumns" for organizational purposes
numericalColumns = columns
print(categoricalColumns) 
print(datetimeColumns)
print(numericalColumns)

['State', 'Location', 'Sample Type', 'Unit']
['Date Posted', 'Date Collected']
['Ba-140', 'Co-60', 'Cs-134', 'Cs-136', 'Cs-137', 'I-131', 'I-132', 'I-133', 'Te-129', 'Te-129m', 'Te-132', 'Ba-140.1']

Remove the leading and trailing whitespaces from the categorical columns:

In [32]:
df.loc[:, categoricalColumns] = df.loc[:,categoricalColumns].applymap(lambda x: x.strip())
df.loc[:, categoricalColumns].head()

  State Location Sample Type    Unit
0    ID    Boise  Air Filter  pCi/m3
1    ID    Boise  Air Filter  pCi/m3
2    AK   Juneau  Air Filter  pCi/m3
3    AK     Nome  Air Filter  pCi/m3
4    AK     Nome  Air Filter  pCi/m3

Export our transformed DataFrame, with the right values and columns, to the CSV format with the to_csv function. Exclude the index using index=False, use a semicolon as the separator sep=";", and encode the data as UTF-8 encoding="utf-8":

In [33]:
df.to_csv('radiation_clean.csv', index=False, sep=';', encoding='utf-8')

Export the same DataFrame to the Parquet columnar and binary format with the to_parquet method:

In [35]:
# df.to_parquet('radiation_clean.prq', index=False)

Final Note!! Be careful when converting datetime to a string